*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: auto;
    text-align: center;
    background-color: rgb(109, 29, 43);
    padding: 15px;
}

section{
    margin: auto;
    width: 80%;
    background-color: pink;
    border: 5px solid rgb(235, 117, 137);
    color: white;
    padding: 10px;
}

h1,h2,h3{
    text-decoration: underline;
    font-style: italic;
}

img{
    box-shadow: 3px 2px 5px rgb(211, 114, 130);
}

article{
    border: 2px solid rgb(109, 29, 43);
    background-color: rgb(211, 114, 130);
    box-shadow: 3px 3px 5px rgb(211, 114, 130);
    padding: 5px;
}

a,a:hover{
    color: white;
}
a:visited{
    color:rgb(109, 29, 43);
}
a:hover{

    background-color:rgb(189, 83, 101);
}

.row{
    padding: 5px;
}